# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Testing
.pytest_cache/

# Node
node_modules/

# React build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Coverage
coverage/
htmlcov/

# Temporary files
*.tmp